@using System.Security.Claims
@model youtube.Domain.ViewModels.ChannelVM

@{

    <link rel="stylesheet" href="~/css/siteFour.css" asp-append-version="true" />
    var claimsIdentity = (ClaimsIdentity)User.Identity;
    var userid = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

@if (!Model.UserVideos.Any())
{
    if(userid == Model.ChannelData.UserId){

        <div class="content-text">
            <div class="content-image">
                <img src="https://www.gstatic.com/youtube/img/channels/core_channel_no_activity_dark.svg" alt="Create content illustration">
            </div>
            <h2>Create content on any device</h2>
            <p>Upload and record at home or on the go. Everything that you make public will appear here.</p>

            <a href="/video/add" class="create-btn">Create</a>
        </div>



    }
    else{

        <div class="content-text">
            <div class="content-image">
                <img src="https://www.gstatic.com/youtube/img/channels/core_channel_no_activity_dark.svg" alt="Create content illustration">
            </div>
            <h2>no content</h2>

        </div>
    }
    
}
else
{
    <div class="video-grid">
        @foreach (var video in Model.UserVideos)
        {


            <a href="@Url.Action("watchvideo", "Video", new { videoId = video.Id })">

             
                    <div class="video-card">
                    <img src="@video.ImageUrl" alt="Video Thumbnail" class="thumbnail">
                        <div class="video-info">
                        <div class="video-title">@video.Title</div>
                            <div class="video-meta">
                            <span>@video.viewCount views</span> • <span> @video.TimeAgo  </span>
                            </div>
                            
                        </div>
                    </div>


               
            </a>
        }
    </div>
}

